ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin-right: 170px;
  margin-left: 90px;
}

li a:hover {
  background-color: #111111;
  border-radius: 5px;
}