.body-wrapper {
  max-width: 1024px;
  background-color: white;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a:hover {
  background-color: cornsilk;
  border-radius: 5px;
}

.carousel-heading {
  font-size: 28px;
  color: black;
}
.carousel-text {
  font-size: 18px;
  color: black;
}
