.body-wrapper {
  max-width: 1024px;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a:hover {
  background-color: cornsilk;
  border-radius: 5px;
}

.image {
	width: 1700px;
	height: 700px;
	background-size: contain;
}

header {
	text-align: center;
}

h5, p {
	color: black;
}
